#first_panel {
    position: relative;
    width: 100%;
    min-height: 400px;
    background-image: url("../image/background.png");
    background-size: cover;
    background-position: center;
}

#first_panel_content {
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#first_panel_content .texts {
    width: fit-content;
    max-width: 100vw;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    text-align: center;
    text-shadow: 0 0 6px var(--blocks-shadow-color);
}

#first_panel_content .texts h1 {
    font-size: 2.5em;
}

#first_panel_content .texts p {
    font-size: 1.5em;
    font-weight: 400;
    text-shadow: 0 0 6px var(--blocks-shadow-color);
}

#first_panel_content .images {
    position: relative;
    width: fit-content;
    display: flex;
    max-width: 100vw;
}

#first_panel_content .images img {
    border-radius: 5px;
}

#first_panel_main_menu_image {
    display: block;
    max-height: 300px;
    max-width: 70vw;
    width: auto;
    height: auto;
    filter: drop-shadow(0 0 6px var(--header-shadow-color));
}

#first_panel_versions_image {
    display: block;
    max-height: 300px;
    max-width: 20vw;
    width: auto;
    height: auto;
    margin-left: 10px;
    filter: drop-shadow(0 0 6px var(--header-shadow-color));
}

.first_panel_elements {
    padding: 10px;
    text-align: center;
}

.first_panel_elements i {
    font-size: 2.5em;
    text-shadow: 0 0 6px var(--button-shadow-color);
}

.first_panel_elements p {
    margin: 0;
    padding: 10px 0 0;
    font-size: 0.9em !important;
    text-shadow: 0 0 4px var(--header-shadow-color);
}