footer {
    padding: 20px;
    padding-top: 50px;
    min-height: 80px;
    width: calc(100% - 40px);
    background-color: var(--footer-color);
    text-align: center;
    color: var(--sub-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer img {
    height: 30px;
    padding-bottom: 5px;
}

footer p {
    margin: 0;
    font-size: 18px;
    padding-bottom: 5px;
}

footer a {
    color: var(--text-color);
    text-decoration: none;
}