.header_space {
    height: 80px;
    width: 100%;
}

header {
    position: fixed;
    z-index: 50;
}

#header_content {
    width: 100%;
    height: 100%;
    background-color: var(--header-color);
}

#slw_header_logo {
    height: 40px;
    padding: 20px;
}

#header_buttons {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    max-width: calc(100% - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#header_buttons * {
    text-align: center;
    color: var(--text-color);
    margin-right: 10px;
}

#header_buttons p {
    font-size: 1.2em;
}

@media only screen and (max-width: 350px) {
    #header_buttons button i {
        font-size: 0;
        visibility: hidden;
        margin-right: -4px;
    }
}
