#offline_account_panel {
    position: relative;
    background-color: var(--background-color);
    text-align: center;
    padding-bottom: 60px;
}

#offline_account_panel h1 {
    margin: 0;
    padding: 30px 50px 0 50px;
    font-size: 2.5em;
    color: var(--text-color);
}

#offline_account_panel p {
    padding: 30px 50px;
    margin: auto auto;
    font-size: 1.5em;
    text-align: justify;
    max-width: 1000px;
    color: var(--text-color);
}

#offline_account_panel .top_blocks {
    margin-bottom: 30px;
}

#offline_account_panel .bottom_blocks {
    position: absolute;
    bottom: 0;
    filter: brightness(5);
}