:root {
    --darker-color: rgb(10, 10, 10);
    --brighter-color: rgb(25, 25, 25);
    --background-color: rgb(20, 20, 20);
    --header-color: rgb(35, 35, 35);
    --footer-color: rgb(35, 35, 35);
    --header-shadow-color: rgba(0, 0, 0, calc(100 / 255));
    --footer-shadow-color: rgba(0, 0, 0, calc(100 / 255));

    --invert-color: rgb(210, 210, 210);

    --button-color: rgb(25, 25, 25);
    --button-hover-color: rgb(50, 50, 50);
    --button-anim-color: rgba(255, 255, 255, calc(25 / 255));
    --button-border-color: rgb(40, 40, 40);
    --button-border-hover-color: rgb(65, 65, 65);
    --slider-color: rgb(55, 55, 55);
    --slider-border-color: rgb(100, 100, 100);
    --button-shadow-color: rgba(0, 0, 0, calc(64 / 255));

    --element-color: rgb(40, 40, 40);
    --element-hovered-color: rgb(50, 50, 50);
    --element-clicked-color: rgb(30, 30, 30);
    --element-accent-color: rgb(60, 60, 60);

    --text-color: rgb(250, 250, 250);
    --text-darker-color: rgb(200, 200, 200);
    --sub-text-color: rgb(150, 150, 150);

    --blocks-color: rgb(50, 50, 50);
    --blocks-shadow-color: rgba(0, 0, 0, calc(40 / 255));
}

* {
    font-family: Arial, serif;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.flex_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    padding: 10px;
    position: relative;
    background-color: var(--button-color);
    color: var(--text-color);
    outline: none;
    border-radius: 10px;
    border: 1px solid var(--button-border-color);
    width: 11em;
    height: 2.2em;
    box-shadow: 0 0 10px var(--button-shadow-color);
    font-size: 1.2em;
    overflow: hidden;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover-color);
    border: 1px solid var(--button-border-hover-color);
}

.btn_green {
    background-color: rgb(34, 177, 69);
    border: 1px solid rgb(44, 187, 79);
}

.btn_green:hover {
    background-color: rgb(54, 197, 89);
    border: 1px solid rgb(64, 207, 99);
}

.btn_shop {
    background-color: rgb(213, 186, 0);
    border: 1px solid rgb(178, 168, 0);
    width: min(100%, calc(22em + 4px));
    margin-right: 4px;
}

@media (max-width: 466px) {
    .btn_shop {
        width: 11em;
    }
}

.btn_shop:hover {
    background-color: rgb(233, 206, 20);
    border: 1px solid rgb(198, 188, 20);
}

.rippleAnimation {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: var(--button-anim-color);
    transform: scale(0);
    position: absolute;
    opacity: 1;
    animation: ripple 1.2s ease-out;
}

@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    85% {
        transform: scale(2);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.top_blocks {
    width: 100%;
    height: 40px;
    background-image: url("../image/blocks.png");
    background-size: contain;
    background-repeat: repeat-x;
    filter: drop-shadow(0 4px 0 var(--blocks-shadow-color));
}

.bottom_blocks {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-image: url("../image/blocks.png");
    background-size: contain;
    background-repeat: repeat-x;
    transform: rotateX(180deg);
}

.blocks_dark {
    background-image: url("../image/blocks_dark.png");
}

